<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button color="dark" fill="clear" class="headButton">Home</ion-button>
    <ion-button color="dark" fill="clear" class="headButton">Log In</ion-button>
    <ion-title class="webTitle">
      Doc Harmony
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-card class="suggestBox">
    <ion-card-header>
      <ion-card-title id="suggestTitle">Suggestions</ion-card-title>
    </ion-card-header>
    <ion-card class="docBox">
      <ion-avatar class="suggestBoxImg">
        <img src="https://bit.ly/3kVdrCx">
      </ion-avatar>
      <ion-card-content id="sugText">
        <h1>Jane Doe</h1>
        <h2>Some kind of info about Jane Doe</h2>
      </ion-card-content>
    </ion-card>

    <ion-card class="docBox">
      <ion-avatar class="suggestBoxImg">
        <img src="https://bit.ly/3x7FHEA">
      </ion-avatar>
      <ion-card-content id="sugText">
        <h1>Andrew Rue</h1>
        <h2>Some kind of info about Andrew Rue</h2>
      </ion-card-content>
    </ion-card>

    <ion-card class="docBox">
      <ion-avatar class="suggestBoxImg">
        <img src="https://bit.ly/3ePLTue">
      </ion-avatar>
      <ion-card-content id="sugText">
        <h1>Sofia Garcia</h1>
        <h2>Some kind of info about Sofia Garcia</h2>
      </ion-card-content>
    </ion-card>

  </ion-card>

  <ion-card class="bigCard">
    <div id="topText">
      <ion-title class="sectionHeader">Rating and Review</ion-title>
      <ion-title class="sectionHeader" id="contactHeader">Contacts</ion-title>
    </div>
    <div id="topCards">
      <ion-card class="ratingBox">
        <ion-card-content class="rating">
          <h1><b>Phone:</b> {{doctor.phoneNumber}}</h1>
          <h1><b>Webpage:</b> {{doctor.webPage}}</h1>
          <h1><b>LinkedIn:</b> {{doctor.media}}</h1>
          <h1><b>Twitter:</b> {{doctor.media}}</h1>
          <h1><b>Facebook:</b> {{doctor.media}}</h1>
        </ion-card-content>
      </ion-card>
      <ion-card class="moreAbout">
      <ion-card-content>
        <!-- <ion-card-content id="ratingImg">
          <img src="https://bit.ly/36M710c">
        </ion-card-content> -->
        <ion-textarea placeholder="Leave A Review..."></ion-textarea>
      </ion-card-content>
      </ion-card>
    </div>
    
    <ion-title class="sectionHeader" id="locHeader">Doctor Location and Business</ion-title>
    <ion-card class="infoDirection">
      <ion-card-content>
        <ion-title class="cardText">Office Location:</ion-title>
        <h1> {{business.location}}</h1>
      </ion-card-content>
      
      <ion-card-content id="hours">
        <ion-title class="cardText">Hours:</ion-title>
        <h1>Mon - Wed  |  9am - 6pm</h1>
        <h1>Thur - Fri | 10am - 7pm</h1>
        <h1>Sat | 11am - 5pm</h1>
        <h1>Sun | Closed</h1>
      </ion-card-content>
      
      <ion-card-content id="map">
        <div #map id="map"></div>
      </ion-card-content>

    </ion-card>

    <ion-toolbar class="sectionToolbar">

    </ion-toolbar>




    
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card class="bigInfoBox">
      <ion-avatar class="docImg">
        <img src="https://bit.ly/3kLZxm9">
      </ion-avatar>
      <ion-card-content id="infoCard">
        <h1 class="infoText"><b>Name:</b> {{doctor.name}}</h1>
        <h1 class="infoText"><b>Gender:</b> {{doctor.gender}}</h1>
        <h1 class="infoText"><b>Age:</b> {{doctor.age}}</h1>
        <h1 class="infoText"><b>Race:</b> {{doctor.race}}</h1>
        <h1 class="infoText"><b>Birth Place:</b> {{doctor.birth}}</h1>
        <h1 class="infoText"><b>Studied:</b> {{doctor.school}}</h1>
        <h1 class="infoText"><b>Specialties:</b> {{doctor.specialties}}</h1>
        <h1 class="infoText"><b>Hobbies:</b> {{doctor.hobbies}}</h1>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-item>