<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button fill="outline" class="headButton" color="primary">Log In</ion-button>
    <ion-button fill="outline" class="headButton" color="primary">Sign Up</ion-button>
    <ion-title class="webTitle">
      PeekDoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-card class="suggestBox">
    <ion-card-header>
      <ion-card-title class="suggestTitle">Suggestions</ion-card-title>
    </ion-card-header>
    <ion-card class="docBox">
      <ion-avatar class="suggestBoxImg">
        <img src="https://bit.ly/36qMUof">
      </ion-avatar>
      <ion-card-content>
        <h1>Jane Doe</h1>
        <h2>Some kind of info about Jane Doe</h2>
      </ion-card-content>

    </ion-card>
  </ion-card>

  <ion-card class="bigCard">
    <ion-card-header>
      <ion-card-title class="sectionHeader">Doctor Info and Dicretions</ion-card-title>
    </ion-card-header>
    <ion-card class="infoDirection">
      <ion-card-content>
        <ion-label class="cardText">Contact:</ion-label>
      </ion-card-content>
      <ion-card-content>
        <ion-label class="cardText">Directions:</ion-label>
        <ion-label class="mapImg">
          <img src="https://bit.ly/3xOeN5s">
        </ion-label>
      </ion-card-content>

    </ion-card>

    <ion-card-header>
      <ion-card-title class="sectionHeader">More About the Doctor</ion-card-title>
    </ion-card-header>
    <ion-card class="moreAbout">
      <ion-label></ion-label>
    </ion-card>
    
    <ion-card-header>
      <ion-card-title>Ratings and Feedback </ion-card-title>
    </ion-card-header>
    <ion-card class="ratingBox">
      <ion-label></ion-label>
    </ion-card>

    <ion-avatar class="docImg">
      <img src="https://bit.ly/36qMUof">
    </ion-avatar>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card class="bigInfoBox">
      <ion-card-title>Info</ion-card-title>
      <ion-card-content class="infoText">
      <ion-label>Name: John Doe</ion-label>
      <ion-label>Gender: Male</ion-label>
      <ion-label>Age: 21</ion-label>
      <ion-label>Race: African American</ion-label>
      <ion-label>Birth Place: Los Angeles, CA</ion-label>
      <ion-label>Studied: Charles Drew University</ion-label>
      <ion-label>Specialties: Physician</ion-label>
      <ion-label>Description: ...</ion-label>
    </ion-card-content>
    </ion-card>
  </ion-card>
</ion-item>