<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button color="dark" fill="clear" class="headButton">Home</ion-button>
    <ion-button color="dark" fill="clear" class="headButton">Log In</ion-button>
    <ion-title class="webTitle">
      Doc Harmony
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-card class="suggestBox">
    <ion-card-header>
      <ion-card-title class="suggestTitle">Suggestions</ion-card-title>
    </ion-card-header>
    <ion-card class="docBox">
      <ion-avatar class="suggestBoxImg">
        <img src="https://bit.ly/36qMUof">
      </ion-avatar>
      <ion-card-content>
        <h1>Jane Doe</h1>
        <h2>Some kind of info about Jane Doe</h2>
      </ion-card-content>

    </ion-card>
  </ion-card>

  <ion-card class="bigCard">
    <ion-card-header>
      <ion-card-title class="sectionHeader">Doctor Location and Business</ion-card-title>
    </ion-card-header>
    <ion-card class="infoDirection">
      <ion-card-content>
        <ion-label class="cardText">Office Location: {{business.location}}</ion-label>
      </ion-card-content>
      <ion-card-content>
        <ion-label class="cardText">Hours:</ion-label>
      </ion-card-content>
      <ion-card-content>
        <div #map id="map"></div>
      </ion-card-content>

    </ion-card>

    <ion-toolbar class="sectionToolbar">
      <ion-label class="sectionHeader">Contact and More Info</ion-label>
      <ion-label class="sectionHeader" id="contactHeader">Ratings and Feedback</ion-label>
    </ion-toolbar>


    <ion-card class="moreAbout">
      <ion-label>Phone: {{doctor.phoneNumber}}</ion-label>
      <ion-label>Webpage: {{doctor.webPage}}</ion-label>
      <ion-label>LinkedIn: {{doctor.media}}</ion-label>
      <ion-label>Twitter: {{doctor.media}}</ion-label>
      <ion-label>Facebook: {{doctor.media}}</ion-label>
    </ion-card>

    <ion-card class="ratingBox">
      <ion-card-content class="rating">
        <img src="https://bit.ly/36M710c">
      </ion-card-content>

    </ion-card>

    <ion-avatar class="docImg">
      <img src="https://bit.ly/3kLZxm9">
    </ion-avatar>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card class="bigInfoBox">
      <ion-card-title>Info</ion-card-title>
      <ion-card-content class="infoText">
        <ion-label>Name: {{doctor.name}}</ion-label>
        <ion-label>Gender: {{doctor.gender}}</ion-label>
        <ion-label>Age: {{doctor.age}}</ion-label>
        <ion-label>Race: {{doctor.race}}</ion-label>
        <ion-label>Birth Place: {{doctor.birth}}</ion-label>
        <ion-label>Studied: {{doctor.school}}</ion-label>
        <ion-label>Specialties: {{doctor.specialties}}</ion-label>
        <ion-label>Hobbies: {{doctor.hobbies}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-item>