.webTitle {
    font-family: 'Roboto Slab'; color: #2C3D42;
    font-size: 71px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 2px 2px #1EBFEE;
    text-align: left;
    height: 105px;
}
.headButton {
    float: right;
    margin-right: 50px;
    font-size: 25px;
    height: 65px;
    margin-top: 20px;
    margin-left: 10px;
}
  .homeHeader {
    --background: #9DDAEC;
    height: 105px;
}

.suggestBox {
    width: 20%;
    margin-left: 150px;
    margin-bottom: 100px;
    height: 840px;
    --background: rgba(198, 234, 245, 0.527);
}

.docBox {
    --background: #9cebe6;
}

.bigCard {
    width: 1440px;
    height: 840px;
    margin-bottom: 100px;
    // --background: rgba(198, 234, 245, 0.527);
    --background: none;
    margin-left: 45px;
}

.infoDirection {
    height: 400px;
    width: 950px;
    margin-left: 45px;
    --background: #C6EAF5;
}

.moreAbout {
    height: 300px;
    width: 600px;
    margin-top: 20;
    margin-left: 45px;
    --background: #C6EAF5;
}

.ratingBox {
    margin-top: -358px;
    width: 311px;
    height: 300px;
    float: right;
    margin-right: 322px;
    --background: #C6EAF5;
}

.bigInfoBox {
    margin-top: -650px;
    float: right;
    width: 246px;
    height: 483px;
    --background: #C6EAF5;
}

.docImg {
    float: right;
    margin-top: -750px;
    margin-right: 100px;
    transform: scale(2.5);
}

.sectionHeader {
    font-size: 30px;
}

.mapImg {
    height: 100%;
    width: 50%;
}

.cardText {
    font-size: 25px;
}

.infoText {
    font-size: 15px;
    margin-top: 10px;
}