.webTitle {
    font-family: 'Roboto Slab'; color: #2C3D42;
    font-size: 71px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 2px 2px #1EBFEE;
    text-align: left;
    height: 105px;
}
.headButton {
    float: right;
    margin-right: 50px;
    font-size: 25px;
    height: 65px;
    margin-top: 20px;
    margin-left: 10px;
}
  .homeHeader {
    --background: #3C849F;
    height: 105px;
}

ion-item {
    --background: none;
}

.suggestBox {
    width: 20%;
    margin-left: 150px;
    margin-bottom: 100px;
    height: 840px;
    --background: #EDF1F2;
}

.docBox {
    --background: #EDF1F2;
}

.bigCard {
    width: 1440px;
    height: 840px;
    margin-bottom: 100px;
    // --background: rgba(198, 234, 245, 0.527);
    --background: none;
    margin-left: 45px;
}

.infoDirection {
    height: 400px;
    width: 950px;
    margin-left: 45px;
    --background: #EDF1F2;
}

.moreAbout {
    height: 300px;
    width: 450px;
    margin-top: 20;
    margin-left: 45px;
    --background: #EDF1F2;
    font-size: 25px;
}

.ratingBox {
    margin-top: -310px;
    height: 300px;
    width: 450px;
    float: right;
    margin-right: 322px;
    --background: #EDF1F2;
}

.bigInfoBox {
    margin-top: -650px;
    float: right;
    width: 246px;
    height: 483px;
    --background: #EDF1F2;
}

.docImg {
    float: right;
    margin-top: -750px;
    margin-right: 100px;
    transform: scale(2.5);
}

.sectionHeader {
    float: left;
    font-size: 25px;
    // height: 65px;
    // margin-top: 20px;
    margin-left: 40px;
}
#contactHeader {
    margin-left: 350px;
}
.sectionToolbar {
    width: 75%;
    --background: white;
    color: black;
}
.mapImg {
    height: 100%;
    width: 50%;
}

.cardText {
    font-size: 25px;
}

.infoText {
    font-size: 15px;
    margin-top: 10px;
}

.rating {
    height: auto;
}

#map {
    height: 250px;
    width: 50%;
    float: right;

}
