.webTitle {
    font-size: 71px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    height: 105px;
   }
.headButton {
    float: right;
    margin-right: 100px;
    font-size: 25px;
    height: 65px;
    margin-top: 20px;
    --box-shadow: none;
  }
  .homeHeader {
    --background: #3C849F;
    height: 105px;
}

// ion-item {
//     --background: none;
// }

ion-card {
    width: 120%;
    height: 393px;
    margin-top: 75px;
    background-color: white;
}

.docCard {
    display: inline-block;
}

ion-avatar {
    width: 136px;   
    height: 136px;
    margin: 0 auto;
    margin-top: 10px;
}

ion-card-content {
    font-weight: bold;
    color: black;
}

h1 {
    text-align: center;
}

h2{
    margin-left: 45px;
    font-weight: bold;
}
p {
    margin-left: 45px;
}

ion-searchbar {
    transform: scale(1.5);
    margin-left: 40%;
    margin-top: 20px;
    height: 75px;
    width: 375px;
    font-size: 500px;
    color: black;
    --background: white;
    --icon-color: black;
}

// ion-select {
//     color: black;
// }

.filterBoxes {
    --background: none;
}



// .needsList {
//     width: 225px;
//     float: right;
//     margin-right: 75px;
//     margin-top: -56px;
//     background-color: #d6f2fa;
// }

// h1 {
//     text-align: center;
//     color: black; 
//     font-family: sans-serif;
//     font-size: 35px;
//     margin-top: 10px;
// }
// h2 {
//     text-align: center;
//     font-size: 25px;
//     color: black; 
//     font-family: sans-serif;
//     margin-top: 15px;
// }

// p {
//     text-align: center;
//     color: black; 
//     font-family: sans-serif;
//     margin-top: 10px;
//     font-size: 15px;  
// }

// .bigList {
//     height:810px;
//     width: 80%;
//     margin-left: 190px;
//     --background: none;

//   }

