<ion-header class="ion-no-border"></ion-header>

<ion-content fullscreen="true">
  <div id="website-header">
    <div id="logo-container">
      <div id="logo">
        <img src="../../assets/DocHarmony.png" width="150px" height="149px" />
        <h1 id="docharmony-title">Doc Harmony</h1>
      </div>
    </div>
    <!-- Header nav bar -->
    <div id="navbar">
      <ion-button color="dark" fill="clear" class="nav-link">Home</ion-button>
      <ion-button color="dark" fill="clear" class="nav-link">Log In</ion-button>
    </div>
  </div>

  <!-- Doctor list and filter -->
  <ion-card class="doctor-list-container">
    <ion-card-title class="doctor-list-title"
      >Search for Medical Professionals in one place.</ion-card-title
    >
    <!-- SEARCH BAR -->
    <div class="search-bar-container">
      <ion-searchbar
        placeholder="Search"
        [(ngModel)]="searchTerm"
        animated
      ></ion-searchbar>
    </div>

    <!-- Filter Button -->
    <ion-button
      class="filter-button"
      (click)="presentPopover()"
      expand="block"
      shape="round"
      id="filterButton"
    >
      filter by categories
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>

    <ion-grid class="doctor-list-background">
      <ion-row>
        <ion-col *ngFor="let doctor of doctors | filter:searchTerm" size="3">
          <ion-card class="doctor-card" [routerLink]="['/doc-info']">
            <ion-avatar class="doctor-icon">
              <img src="{{doctor.pic}}" />
            </ion-avatar>
            <ion-card-content class="doctor-name">
              <h1>{{doctor.name}}</h1>
            </ion-card-content>
            <ion-card-content id="docInfo" class="doctor-info">
              <p><b>Field:</b> {{doctor.specialty}}</p>
              <p><b>Race/Ethnicity:</b> {{doctor.race}}</p>
              <p><b>Gender:</b> {{doctor.gender}}</p>
              <p><b>Lanuage(s):</b> {{doctor.language}}</p>
              <p><b>Insurance:</b> {{doctor.insurance}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- <ion-card class="bigList">
  <ion-content>
      <ion-item>
        <ion-button>Test</ion-button>
        <ion-card class="docCard" (click)="nextpage()" routerLink="/doc-info" *ngFor="let doctor of doctors | filter:searchTerm">
          <ion-avatar>
            <img src="{{doctor.pic}}" />
          </ion-avatar>
          <ion-card-content>
            <h1>{{doctor.name}}</h1>
            <h2>{{doctor.specialty}}</h2>
            <p>{{doctor.race}}</p>
            <p>{{doctor.gender}}</p>
            <p>{{doctor.language}}</p>
            <p>{{doctor.insurance}}</p>
          </ion-card-content>
        </ion-card>
      </ion-item> -->

<!-- <ion-card (click)="nextpage()" routerLink="/doc-info">
      <ion-avatar>
        <img src="https://bit.ly/36qMUof">
      </ion-avatar>
      <ion-card-content>
        <h1>John Doe</h1>
        <h2>Physician</h2>
        <p>I am a good doctor for you!</p>
      </ion-card-content>
    </ion-card> -->
<!-- </ion-content>
</ion-card> -->
