<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button color="dark" fill="clear" class="headButton">Home</ion-button>
    <ion-button color="dark" fill="clear" class="headButton">Log In</ion-button>
    <ion-title class="webTitle">
      Doc Harmony
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="filterBoxes">
  <ion-searchbar
            placeholder='Search'
            [(ngModel)]="searchTerm"
            animated></ion-searchbar>
  
  <ion-button (click)="_presentPopover()" expand="block" shape="round" id="filterButton">
    Edit
    <ion-icon name="filter-outline"></ion-icon>
  </ion-button>

<ion-card class="bigList">
  <ion-content>
      <ion-item>
        <ion-card class="docCard" (click)="nextpage()" routerLink="/doc-info" *ngFor="let doctor of doctors | filter:searchTerm">
          <ion-avatar>
            <img src="{{doctor.pic}}" />
          </ion-avatar>
          <ion-card-content>
            <h1>{{doctor.name}}</h1>
            <h2>{{doctor.specialty}}</h2>
            <p>{{doctor.about}}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>

    <!-- <ion-card (click)="nextpage()" routerLink="/doc-info">
      <ion-avatar>
        <img src="https://bit.ly/36qMUof">
      </ion-avatar>
      <ion-card-content>
        <h1>John Doe</h1>
        <h2>Physician</h2>
        <p>I am a good doctor for you!</p>
      </ion-card-content>
    </ion-card> -->
  </ion-content>
</ion-card>