<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-card class="bgImg"></ion-card>
    <ion-button color="dark" fill="clear" class="headButton">Home</ion-button>
    <ion-button color="dark" fill="clear" class="headButton">Log In</ion-button>
    <ion-title class="webTitle">
      Doc Harmony
    </ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="bigText">Help us find what you need so you can navigate to your doctors in the easiest way possible.</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card class="bigBox">
    <ion-card-title id="inputText">Input information so we can help you find doctors</ion-card-title>
    <ion-card-content class=inputBoxes>
      City/Zip/Address
      <ion-input></ion-input>
      Doctor/Specialist
      <ion-input></ion-input>
      Insurance
      <ion-input></ion-input>
      Gender
      <ion-input></ion-input>
      Language
      <ion-input></ion-input>
      Race/Ethnicity
      <ion-input></ion-input>
      <ion-button fill="clear" class="inputButton" [routerLink]="['/filter']">Find</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-card>
  <ion-card-header>
  <ion-card-title>Choose a category of doctors that you would like to look for.</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" class="doctorButtons" color="secondary" size="large">Dentist</ion-button>
</ion-card> -->
