.webTitle {
    font-family: 'Roboto', sans-serif; color: white;
    font-size: 400%;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-align: left;
    height: 105px;
   }

.headButton {
    float: right;
    margin-right: 2%;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    margin-top: 1%;
    --background: none;
    --box-shadow: none;
  }

.homeHeader {
    --background: url('https://mawaiid.com/images/vendor_images/1626608798.types-of-doctors-1600114658.jpg');
    height: 120%;
}

.bigText {
    height: 197px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    top: 25px;
    color: white;
    text-shadow: 2px 2px black;
}

#inputText {
    text-align: center;
    color: black;
    font-size: 200%;

}

ion-card {
    width: 1000px;
    margin: auto;
    background: none;
    box-shadow: none;
    border: none;
}

.bigBox {
    width: 40%;
    height: 650px;
    background: #CDE9F3;
    margin-top: 100px;
}

.inputBoxes {
 margin-top: 2%;
 height: 300px;
 font-size: 20px;
 font-weight: bold;
 color: black;
 --background: black;
}

ion-input {
    --background: rgba(60, 132, 159, 0.18);
    height: 45px;
    width: 95%;
    border-radius: 15px;

}

.inputButton {
    height: 65px;
    width: 35%;
    margin-top: 20px;
    margin-left: 31%;
    font-weight: bold;
    --background: rgba(60, 132, 159, 0.18);
    --color: black;
}