.webTitle {
    font-size: 71px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    height: 105px;
   }

.headButton {
    float: right;
    margin-right: 100px;
    font-size: 25px;
    height: 65px;
    margin-top: 20px;
    --box-shadow: none;
  }

.homeHeader {
    --background: url('https://bit.ly/3yojfZa') no-repeat 100% fixed;
    height: 500px;
}

.bigText {
    height: 197px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    top: 25px;
    color: black;
}

#inputText {
    text-align: center;
    color: black;
    font-size: 25px;

}

ion-card {
    width: 1000px;
    margin: auto;
    background: none;
    box-shadow: none;
    border: none;
}

.bigBox {
    width: 750px;
    height: 650px;
    background: #CDE9F3;
    margin-top: 100px;
}

.inputBoxes {
 height: 300px;
 font-size: 20px;
 color: black;
 --background: black;
}

ion-input {
    --background: rgba(60, 132, 159, 0.18);
    height: 45px;
}

.inputButton {
    height: 65px;
    width: 250px;
    margin-top: 20px;
    margin-left: 32%;
}