<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button fill="outline" class="headButton" color="primary">Log In</ion-button>
    <ion-button fill="outline" class="headButton" color="primary">Sign Up</ion-button>
    <ion-title class="webTitle">
      Doc Harmony
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title class="bigText">Help us find what you need so you can navigate to your doctors in the easiest way possible.</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-content>
  <ion-card class="bigBox">
    <ion-card-content class=inputBoxes>
      City / Zip / Address
      <ion-input></ion-input>
      Type of Doctor / Specialist
      <ion-input></ion-input>
      Language
      <ion-input></ion-input>
      Insurance
      <ion-input></ion-input>
      Race
      <ion-input></ion-input>
      <ion-button fill="outline" class="inputButton" color="primary" routerLink="/filter">Search</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-card>
  <ion-card-header>
  <ion-card-title>Choose a category of doctors that you would like to look for.</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" class="doctorButtons" color="secondary" size="large">Dentist</ion-button>
</ion-card> -->
