ion-content {
  --background: url('../../assets/nurse-group-background.jpeg') no-repeat center center/cover;
}

ion-toolbar {
  --border-style: none;
}

#website-header{  
  background-color: rgba(60, 132, 159, 0.5);
  width: 100%;
  height: 15%;
  display: inline-block;

  img {
  float: left;
  width: 100px;
  height: 100px;
  }

  h1 {
    position: relative;
    top: -5px;
    left: 10px;
    font-family: 'Roboto', sans-serif; color: white;
    font-size: 400%;
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke: 2px #000000;
  }

}

#nav-bar {
  text-align: center;
  margin-top: 5%;

  .nav-links{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    --background: #3C849F;
  }
}

#card-contents{
  position: relative;
  width: 40%;
  height: auto;
  color: white;
  float: right;
  top: -130px;

  .call-to-action {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

#heading-one {
  width: 100%;
  height: auto;
  color: #000000;
  margin-top: 20px;
  padding: 3%;

  .heading-one-one{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    color: white;
    -webkit-text-stroke: #000000 1.5px;
  }
}

#heading-two {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  
  .heading-two-two {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    color: white;
    -webkit-text-stroke: #000000 1.2px;
  }
}


.bigButton {
  font-size: 150%;
  color: white;
  height: 75px;
  width: 70%;
  margin-left: 14%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  --background: #3C849F;
  --border-radius: 10px;
}

// ion-title {
//   font-weight: bold;
//   color: black;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   text-align: right;
// }

// ion-card {
//   width: 45%;
//   float: right;
//   margin-top: -5.7%;
//   margin-right: -0%;
//   background: white;
//   height: 945px;
//   box-shadow: none;
//   border-radius: 5%;
// }

.homeBigtext {
  margin-top: 25%;
  margin-left: 10%;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 300%;
  width: 80%;
  color: #3C849F;
  // font-size: x-large;
  // vertical-align: middle;
  // line-height: normal;
  // top: 0%;
}
.homeSmalltext {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 230%;
  color: #3C849F;
  margin-top: 7%;
  width: 70%;
  margin-left: 15%;

}

.homeSub {
  --background: url('https://wallpapercave.com/wp/wp2968502.jpg') no-repeat 100% 50%;
  --background-size: cover;
  height: 718px;
}

