<ion-header>
  <ion-toolbar class="homeHeader">
    <ion-button color="secondary">Log In</ion-button>
    <ion-button color="secondary">Sign Up</ion-button>
    <ion-button color="secondary">Service</ion-button>
    <ion-button color="secondary">Home</ion-button>
    <ion-title class="webTitle">
      PeekDoc
    </ion-title>
  </ion-toolbar>

<!-- Sub Header for Home Page -->
<ion-toolbar class="homeSub">
  <ion-title class="homeBigtext">Search for medical help with the doctor of your liking</ion-title>
  <ion-title class="homeSmalltext">Search for hundreds of doctors around you that specialize in your need. All in one page.</ion-title>
  <ion-button class="bigButton" color="secondary">Begin Looking Now</ion-button>
</ion-toolbar>
</ion-header>

  <!-- <div id="container"> -->
    <!-- <strong>Ready to create an app?</strong> -->
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  <!-- </div> -->